data/bdd_complete2.csv
data/data.csv
data/data_cleaned.csv
data/one_hot_encoded_data.csv

results/df_moyennes0.csv
results/embeddings_novice.csv
results/embeddings_exp.csv
data/data_cleaned_test.csv
data/data_cleaned_NLP.csv
results/word2vec_novice_300.model

results/word2vec_exp_300.model
results/word2vec_exp_300.model.trainables.syn1neg.npy
results/word2vec_exp_300.model.wv.vectors.npy

results/word2vec_all_300.model
results/word2vec_all_300.model.trainables.syn1neg.npy
results/word2vec_all_300.model.wv.vectors.npy

results/word2vec_novice.model
results/word2vec_exp.model

.DS_Store
.ipynb_checkpoints/

Distance_curve.png
