data/bdd_complete2.csv
data/data.csv
data/data_cleaned.csv
results/df_moyennes0.csv
results/embeddings.csv
data/data_cleaned_test.csv
data/data_cleaned_NLP.csv
.DS_Store
.ipynb_checkpoints/
.gitignore

